<ion-view view-title="Contactenos">
	<ion-content>
		<div class="card card-agentes">
			<div class="item-divider titulo-agent">Agente de bienes raices</div>
			<div class="item item-icon-left">
				<i class="icon ion-person"></i>Luis Arguello Vivas
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-ios-telephone"></i>Movistar: (505) 8883-1212
			</div>
		</div>

		<div class="card card-agentes">
			<div class="item-divider titulo-agent">Agente de bienes raices</div>
			<div class="item item-icon-left">
				<i class="icon ion-person"></i>Tania Aguilar
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-ios-telephone"></i>Movistar: (505) 7879 1222
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-ios-telephone"></i>Claro: (505) 8423 0002
			</div>
		</div>

		<div class="card">
			<div class="list">
				<div class="item-divider titulo-req">Enviar Correo</div>
				<label class="item item-input item-floating-label">
					<span class="input-label">Nombre y Apellido</span>
					<input type="text" placeholder="Nombre y Apellido">
				</label>
					<label class="item item-input item-floating-label">
					<span class="input-label">Correo electronico</span>
				<input type="text" placeholder="Correo electronico">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Telefono</span>
					<input type="text" placeholder="Telefono">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Celular</span>
					<input type="text" placeholder="Celular">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Codigo de la propiedad</span>
					<input type="text" placeholder="Codigo de la propiedad">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Mensaje</span>
					<textarea name="mensaje" id="mensaje" ng-model="mensaje" placeholder="Mensaje" rows="15"></textarea>
				</label>
				<button class="button button-full button-positive">Enviar</button>
			</div>
		</div>
	</ion-content>
</ion-view>
