<ion-view view-title="Inicio">
    <ion-content>
        <div class="list">
            <img src="img/logo.png" height="150px">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Ciudad, nombre, codigo, etc...">
                </label>
                <button class="button button-small button-outline button-assertive">Buscar</button>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <a href="#/app/lista">
                        <div class="col-xs-12 icono"><i class="ion ion-home"></i></div>
                        <div class="col-xs-12 texto-icono">Ventas</div>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#/app/lista">
                        <div class="col-xs-12 icono"><i class="ion ion-flag"></i></div>
                        <div class="col-xs-12 texto-icono">Alquiler</div>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#/app/contacto">
                        <div class="col-xs-12 icono"><i class="ion ion-person"></i></div>
                        <div class="col-xs-12 texto-icono">Contactar agente</div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <a href="#">
                        <div class="col-xs-12 icono"><i class="ion ion-search"></i></div>
                        <div class="col-xs-12 texto-icono">Busqueda avanzada</div>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#/app/lista">
                        <div class="col-xs-12 icono"><i class="ion ion-android-chat"></i></div>
                        <div class="col-xs-12 texto-icono">Compartir App</div>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#/app/contacto">
                        <div class="col-xs-12 icono"><i class="ion ion-android-calendar"></i></div>
                        <div class="col-xs-12 texto-icono">Pedir visita</div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
