<ion-view view-title="Requisitos Bancarios">
  <ion-content>
	  <div class="row">
	    <div class="list requisitos">
		    <div class="card">
		    	<div class="item-divider titulo-req">BAC</div>
		    	<div class="col col-67 col-offset-10">
		    		<img src="img/bac.png" alt="">
		    	</div>
		    	
	  			<div class="item item-text-wrap descripcion-req">
		    		BAC Consumo pone a su disposición préstamos personales con garantía hipotecaria, garantía prendaria y préstamos sobre Certificados de Depósito a Plazo Fijo (Back to Back)
		    	</div>
		    	<a class="button button-positive" href="https://www.bac.net/nicaragua/esp/banco/personal/perpresconsu.html">Leer más</a>
		    </div>

		    <div class="card">
		    	<div class="item-divider titulo-req">LAFISE</div>
		    	<div class="col col-67 col-offset-10">
		    		<img src="img/lafise.jpg" alt="">
		    	</div>
		    	
	  			<div class="item item-text-wrap descripcion-req">
		    		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque alias odit asperiores, necessitatibus, perferendis labore ab animi beatae voluptatum rerum distinctio quod architecto facilis corporis magnam numquam illo accusamus eveniet.
		    	</div>
		    	<a class="button button-positive" href="https://www.bac.net/nicaragua/esp/banco/personal/perpresconsu.html">Leer más</a>
		    </div>

		    <div class="card">
		    	<div class="item-divider titulo-req">BDF</div>
		    	<div class="col col-67 col-offset-10">
		    		<img src="img/BDF.jpg" alt="">
		    	</div>
		    	
	  			<div class="item item-text-wrap descripcion-req">
		    		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque alias odit asperiores, necessitatibus, perferendis labore ab animi beatae voluptatum rerum distinctio quod architecto facilis corporis magnam numquam illo accusamus eveniet.
		    	</div>
		    	<a class="button button-positive" href="https://www.bac.net/nicaragua/esp/banco/personal/perpresconsu.html">Leer más</a>
		    </div>
	    </div>
	  </div>
  </ion-content>
</ion-view>
